{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<body style="background-color:darkgray;"></body>
{% include 'navigation.html' %}
<p> <b>Redstreet</b> club is a platform for Amateur players, Fitness and Sports enthusiasts it to provides an enabling environment for their personality development
    the goal is to increase fitness level, to achieve state level and national level rankings and to continuously upgrading with the changing needs and demands of the sports industry.
    As we know sport is one of the top activities which maintain physical health, enhance Blood circulation and also helps to make your body more flexible & responsive.
Now a day’s various sporting events are being organized by the federation or sports community to provide national rankings and cash rewards to the winners in their respective games.
Managing an amateur sporting club is most often time consuming and tedious, therefore sports club management system has been designed to handle administration and to help organize, manage all the sports events.</p>



<div><h1>Arm Wrestling Rules</h1><br>
Once you have your technique down, you need to know the rules, and there are a plenty of them. The rules and regulations are not only set to create an even playing field, but also prevent broken bones.
To start, the American Armsport Association requires competitors to be at least 16 years old. Here’s a few other official arm wrestling regulations:<br>
•	The shoulder of both players must be in a square position before the match starts.<br>
•	All starts will be a ‘Ready…..Go’ . The cadence will vary.<br>
•	You must start with at least one foot on the ground. After the “go” you may have both feet off the ground.<br>
•	A pin cannot be made if the elbow is out of the pocket.<br>
•	To make a winning pin you must touch your opponent to the touch pad.<br>
•	A false start is a foul.<br>
•	You will forfeit the match with your third foul.<br>
•	You may not, at any time, touch your body to your hand.<br>
•	Intentional slip-outs are fouls, which occur when both your palm completely loses contact with your competitor’s palm.<br>
•	The most important arm wrestling rule is the referee’s decision is final.<br>

</div><body>
<img src="{% static 'css/arm.jpg' %}" height="200" width="300"><br>

</body>
<body><div><h1>Power Lifting Rules</h1><br>
1.	There will be three lifts: squat, deadlift, and bench press.<br>
2.	Squat- The lifter may be aided by a spotter in lifting the bar off the rack,
    once the lifter is stable with the bar on their back and knees locked the referee will announce “squat” they will squat until the top surface of their hips dip below their knees and they rise back up to the locked knee position. Double bouncing at the bottom of the squat is not allowed; spotters may be used once the squat has been finished to rack the weight.<br>
3.	Bench Press- Lifter must lie on their back with their heels on the ground, shoulders and buttocks on the bench.
    The lifter may have spotters aid in taking the weight off the rack and once the lifter’s elbows are locked with the weight steady the referee will tell them to begin the lift and they will lower the bar until it touches their chest area (cannot touch below belt). Once the touch has been made and the bar is motionless the referee will say “press” and the lifter must press the bar until they have their elbows locked at which point the referee will tell the lifter to rack the bar with the aid of spotters.<br>
4.	Deadlift- Bar with weight will be on the ground and lifter will grasp the bar with any grip they wish.
    The lifter must then lift the bar until they are standing up with locked knees and shoulders back. The lift will not count if: the thighs are used to support the bar, any movement of the feet laterally during the lift (rocking of feet is allowed).<br>
</div>
<img src="{% static 'css/lift.jpeg' %}" height="200" width="300"><br>

</body>
<br>
<br>
<body><div><h1>Badminton Rules</h1><br>
    Scoring System
o	A match consists of the best of 3 games of 21 points.<br>
o	Every time there is a serve – there is a point scored.<br>
o	The side winning a rally adds a point to its score.<br>
o	At 20 all, the side which gains a 2 point lead first, wins that game.<br>
o	At 29 all, the side scoring the 30th point, wins that game.<br>
o	The side winning a game serves first in the next game.<br>
Interval and Change of Ends
o	When the leading score reaches 11 points, players have a 60 second interval.<br>
o	A 2 minute interval between each game is allowed.<br>
o	In the third game, players change ends when the leading score reaches 11 points.<br>
Singles
o	At the beginning of the game (0-0) and when the server’s score is even, the server serves from the right service court.<br> When the server’s score is odd, the server serves from the left service court.<br>
o	If the server wins a rally, the server scores a point and then serves again from the alternate service court.
o	If the receiver wins a rally, the receiver scores a point and becomes the new server. They serve from the appropriate service court – left if their score is odd, and right if it is even.

Doubles
o	A side has only one ‘set’.
o	The service passes consecutively to the players as shown in the diagram.
o	At the beginning of the game and when the score is even, the server serves from the right service court. When it is odd, the server serves from the left court.
o	If the serving side wins a rally, the serving side scores a point and the same server serves again from the alternate service court.
o	If the receiving side wins a rally, the receiving side scores a point. The receiving side becomes the new serving side.
o	The players do not change their respective service courts until they win a point when their side is serving.
</div>
<img src="{% static 'css/rac.jpg' %}" height="200" width="300"><br>
<br>
</body>

<body><div><h1>Table Tennis Rules</h1><br><br></div><br>
o	You have two serves before it is your opponent’s turn to serve twice. This used to be five serves each but since changing to 11 it’s now just two.
o	At 10-10 it’s deuce. You get one serve each and must win by two clear points. This is sudden death or table tennis’ equivalent of a tie break.
o	If you are playing a best of 3, 5 or 7 (as opposed to just one set) you have to change ends after each game. This makes sure both players experience conditions on both sides of the table. You also change ends when the first player reaches five points in the final game of a match.

Service Rules
1.	The service must start with the ball in an open palm. This stops you from throwing it up with spin.
2.	The ball must be thrown vertically, at least 16 cm. This stops you from serving straight out of your hand and surprising your opponent.
3.	The ball must be above and behind the table throughout the serve. This stops you getting any silly angles and gives your opponent a fair chance at returning.
4.	After throwing the ball, the server must get their free arm and hand out of the way. This is to allow the receiver to see the ball.
<br>

<br>
<img src="{% static 'css/tennis.jpg' %}" height="200" width="300"><br>

</body>


{% endblock content %}
