{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<body style="background-color:lightcoral;"></body>
{% include 'navigation.html' %}
{% for tbj in tbj %}
<div><h1>Tournament Name - {{tbj.name}}</h1>
<h2>Tournament Venue - {{tbj.venue}}</h2>
<h2>Type - {{tbj.message}}</h2>
    <h2>Cash Prize in Rupees - {{tbj.cash}}</h2>
    <h2>Tournament Date - 21/5/20 </h2><br>
    <div><a href="{% url 'new' %}"><button><b> Participate</b></button></a></div><br>
      <img src="{% static 'css/smash.jpg' %}" height="250" width="300" align="middle"></div>

{% endfor %}
{% endblock content %}